{% extends 'blog/base_blog.html' %}

{% block content %}
{% load static %}
<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-4 col-sm-6 col-md-3">
      <div class="containter template5">
        <label class="template6"><h4>Tag: bender</h4></label>
      </div> 
      <div class="container template1">
        <div class="containter">
          <div class="row">
            <div class="col-sm-3">
              <img src="{% static 'logo.svg' %}" width="60" height="60" class="template10">
              <div class="input-group spinner">
                <input type="text" class="form-control" value="42">
                <div class="input-group-btn-vertical">
                  <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                  <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <label>
                <a href="#">How to build a moon park?</a>
                <p>Guys, i have trouble with a moon park. Can`t find the black-jack...</p>
              </label>
              <label>
                <span><a href="{% url 'question' %}">answer (3)</a></span>
                <span class="template9">Tags:</span>
                <span><a href="#">black-jack</a></span>
                <span><a href="#">bender</a></span>
              </label>
            </div>
          </div>
        </div> 
      </div>
      <div class="container template11">
        <div class="containter">
          <div class="row">
            <div class="col-sm-3">
              <img src="{% static 'logo.svg' %}" width="60" height="60" class="template10">
              <div class="input-group spinner">
                <input type="text" class="form-control" value="42">
                <div class="input-group-btn-vertical">
                  <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                  <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <label>
                <a href="#">How to build a moon park?</a>
                <p>Guys, i have trouble with a moon park. Can`t find the black-jack...</p>
              </label>
              <label>
                <span><a href="{% url 'question' %}">answer (3)</a></span>
                <span class="template9">Tags:</span>
                <span><a href="#">black-jack</a></span>
                <span><a href="#">bender</a></span>
              </label>
            </div>
          </div>
        </div> 
      </div>
      <div class="container template12">
        <div class="containter">
          <div class="row">
            <div class="col-sm-3">
              <img src="{% static 'logo.svg' %}" width="60" height="60" class="template10">
              <div class="input-group spinner">
                <input type="text" class="form-control" value="42">
                <div class="input-group-btn-vertical">
                  <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                  <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <label>
                <a href="#">How to build a moon park?</a>
                <p>Guys, i have trouble with a moon park. Can`t find the black-jack...</p>
              </label>
              <label>
                <span><a href="{% url 'question' %}">answer (3)</a></span>
                <span class="template9">Tags:</span>
                <span><a href="#">black-jack</a></span>
                <span><a href="#">bender</a></span>
              </label>
            </div>
          </div>
        </div> 
      </div>
      <div class="btn-toolbar template13" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2 mt-2" role="group" aria-label="First group">
            <a class="btn btn-secondary" href="#" role="button">1</a>
            <a class="btn btn-secondary ml-2" href="#" role="button">2</a>
            <a class="btn btn-secondary ml-2" href="#" role="button">3</a>
            <a class="btn btn-secondary ml-2" href="#" role="button">...</a>
            <a class="btn btn-secondary ml-2" href="#" role="button">53</a>
          </div>
      </div>
    </section>
    <section class="col-4 col-sm-6 col-md-3">
    </section>
    <section class="col-4 col-sm-6 col-md-3">
      <form class="form-container template1">
        <div class="form-group">
          <h3>Popular Tags</h3>
        </div>
        <div class="form-group">
          <a href="#">perl</a>
          <a href="#">python</a>
          <a href="#">TechnoPark</a>
        </div>
        <div class="form-group">
          <a href="#">MySQL</a>
          <a href="#">django</a>
        </div>
        <div class="form-group">
          <a href="#">Mail.Ru</a>
          <a href="#">VoloShin</a>
          <a href="#">FireFox</a>
        </div>
      </form>
      <form class="form-container template2">
        <div class="form-group">
          <h3>Best Members</h3>
        </div>
        <div class="form-group">
          <a href="#">Mr.BestMember</a>
        </div>
        <div class="form-group">
          <a href="#">SilverName</a>
        </div>
        <div class="form-group">
          <a href="#">TheThirdPosition</a>
        </div>
      </form>
    </section>
  </section>
</section>
{% endblock %}